package ${projectPackage};

import com.guoshiyao.rely.line.Line;
import java.lang.String;

public class HomeProperties{

#foreach($column in $list)
    public static String get${column.key}(){
       return Line.properties.get("$!{map.get($column.key)}").getValue();
    }
#end



}