*.class
*.o
*.so
*.dll
*.exe
*.pid

# Log file
logs/
*.log
velocity.log.*
velocity.log
# Package Files
*.jar
*.war
*.ear
*.sar
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.iso
*.dmg
*.rpm

.classpath
.project
.settings/


*.iml
.idea/


application-local.properties
build/


.mtj.tmp/


*.ctxt


hs_err_pid*

# tmp
tmp/
temp/

.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

!gradle-wrapper.jar

## maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

/var/log/
/target/
/logs/
/.idea/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
*/.DS_Store
*/wangxuhui.txt
*/application-dev.properties
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

