#dubbo默认扫描包:${projectPackage}.dubboservice
#home.dubbo.reference.package=${projectPackage}.dubboservice
#home.dubbo.reference.timeout=120000
#dubbo注册中心地址
#home.dubbo.reference.url=zookeeper://zookeeper.com:2181
#home.dubbo.reference.agreement=dubbo
#home.dubbo.reference.host=127.0.0.1
#home.dubbo.reference.port=20880
#home.dubbo.protocolconfig.threads=300
###cached limited fixed all
#home.dubbo.protocolconfig.threadpool=fixed