##默认为idkey debug
home.log.appid=${idKey}
##根日志级别 debug info  warn  error trance 默认debug
##从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
home.log.rootlevel=debug
##系统日志级别 默认debug
home.log.syslevel=debug
##业务日志级别 默认debug
home.log.businlevel=debug
##业务日志包路径,空的话默认为系统扫描到的包路径
home.log.businpackage=${projectPackage}
##日志存储位置
home.log.dir=target/log/${idKey}